<div class="container">
  <h1><a href="/" style="color: #000000; text-decoration: none;" >Simple Blog</a></h1>
  <p>welcome</p>
  <hr>

 <a href="/post/create"><button type="button" onclick="alert('Hello world!')">create New Post!</button></a>


  <% @posts.each do |post| %>
  <p><a href="/post/<%= post.id %>"><%= post.title %></a></p>
  <p><%= post.body %></p>
  <% end %>



</div>
